@use './variables' as *;

/* Header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / -1;
    height: 10vh;
    flex-wrap: wrap;
    @extend %padding-sec;

    &__logo-container{
        flex: 0 1 10rem;
        height: 100%;

        & img{
            object-fit: contain;
            height: 100%;
            width: 100%;
        }
    }

    &__hamburger{
        display: none;
        height: 3rem;
        width: 3rem;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: all .5s ease-in-out;

        &--line{
            width: 1.5rem;
            height: 2px;
            background-color: color(color-black);
            transition: all .5s ease-in-out;

            &::after,
            &::before{
                position: absolute;
                content: '';
                height: inherit;
                width: inherit;
                background-color: color(color-black);
                left: 7px;
                transition: all .5s ease-in-out;
            }

            &::before{
                top: 8px;
            }

            &::after{
                bottom: 8px;
            }
        }

    }

    &__hamburger.active{
        display: none;
        z-index: 3;

        .header__hamburger--line{
            background-color: transparent;

            &::before{
                transform: rotate(45deg) translate(4px, 4px);
            }
            &::after{
                transform: rotate(-45deg) translate(4px, -4px);
            }
        }
    }

    &__nav{
        flex: 1 0 40rem;
        height: 100%;
        margin: 0 2rem;
        z-index: 3;
        transition: all .5s ease-in-out;
        
        & ul{
            height: inherit;
            display: flex;
            justify-content: start;
            align-items: center;

            & li{
                display: inline-block;
                list-style: none;
                margin: 0 2rem;
                position: relative;
                transition: all .5d ease-in-out;

                &::before{
                    display: block;
                    content: '';
                    position: absolute;
                    background-color: color(color-orange);
                    width: 100%;
                    height: 3px;
                    bottom: -50%;
                    transform-origin: right;
                    transform: scaleX(0);
                    transition: transform .3s ease-in-out;
                }

                &:hover:before{
                    transform: scaleX(1);
                    transform-origin: left;
                }


                & a{
                    @extend %para-font;
                    text-decoration: none;
                    color: color(color-dark-grayish-blue);

                    &:hover{
                        color: color(color-very-dark-blue);
                    }
                }
            }
        }
    }

    &__overlay{
        display: block;
        z-index: 2;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: color(color-very-dark-blue);
        filter: opacity(0.4);
        transform: translateX(-100%);
        transition: all .5s ease-in-out;
    }

    &__box{
        height: 100%;
        display: flex;
        align-items: center;
        flex: 0 0 10rem;
        gap: 3rem;

        &--cart{
            position: relative;

            & > span{
                display: none;
                position: absolute;
                height: 2.3rem;
                width: 2.3rem;
                background-color: color(color-orange);
                top: -1.5rem;
                right: -1.5rem;
                border-radius: 50%;
                color: color(color-white);
                align-items: center;
                justify-content: center;
                font-size: font-size(font-size-para);
            }

            &__preview{
                display: none;
                position: absolute;
                bottom: -27rem;
                background-color: hsl(0deg, 0%, 100%);
                min-height: 25rem;
                width: 40rem;
                left: -29rem;
                border: 1px solid gray;
                border-radius: 10px;
                flex-direction: column;
                padding: 1rem;
                box-shadow: 0px 0px 10px 2px rgba(color(color-dark-grayish-blue),0.75);;

                &--title{
                    font-size: font-size(font-size-h3);
                }

                &--description{
                    color: color(color-dark-grayish-blue);
                    flex-basis: 50%;
                    flex-grow: 1;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: font-size(font-size-para);

                    &__content{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 1.5rem;

                        &--img{
                            height: 8rem;
                            width: 8rem;
                            object-fit: cover;
                        }

                        &--container{
                            display: flex;
                            align-items: flex-start;
                            flex-direction: column;

                            &__span{
                                & > strong{
                                    font-weight: font-weight(font-weight-large);
                                    color: color(color-black);
                                }
                            }
                        }
                    }

                }

                &--btn{
                    background-color: color(color-orange);
                    color: color(color-white);
                    padding: 1.5rem 1rem;
                    text-align: center;
                    border-radius: 5px;
                    font-size: font-size(font-size-para);
                }
            }

            &__preview.active{
                display: flex;
            }
        }

        &--profile-img{
            & img{
                height: 5rem;
                width: 5rem;

                &:hover{
                    border: .2rem solid color(color-orange);
                    border-radius: 50%;
                }
            }
        }
    }

    @include media-tablet{
        &__hamburger{
            display: flex;
            z-index: 3;
        }

        &__hamburger.active{
            display: flex;
        }

        &__nav{
            position: fixed;
            width: 20rem;
            top: 0;
            left: 0;
            margin: 0;
            background-color: color(color-white);
            padding: 2rem 0 2rem 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            transform: translateX(-100%);

            & ul{
                height: auto;
                flex-grow: 1;
                flex-direction: column;
                align-items: flex-start;

                & li{
                    margin: 1rem 0;

                    &::before{
                        display: none;
                    }

                    & a{
                        color: color(color-very-dark-blue);
                    }
                }
            }
        }
    }
}