/* ------------- Templates ---------------*/
.main, .header {
  padding: 2rem 2vh;
}

.main__content--description__title {
  font-size: calc(2.6rem + 1.5vw);
  font-weight: 700;
}

.main__content--price-box span:nth-of-type(1) {
  font-size: calc(1.7rem + 1vw);
  font-weight: 700;
}

.main__content--description__brand, .header__nav ul li a {
  font-size: calc(1.3rem + 0.5vw);
  font-weight: 500;
}

/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a fixed value of font size */
html {
  font-size: 62.5%;
}

/* Template Layout */
body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content 90vh;
  font-family: "Kumbh Sans", sans-serif;
}
@media screen and (max-width: 800px) {
  body {
    gap: 1rem;
    padding-bottom: 3rem;
    grid-template-rows: min-content min-content;
  }
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1/-1;
  height: 10vh;
  flex-wrap: wrap;
}
.header__logo-container {
  flex: 0 1 10rem;
  height: 100%;
}
.header__logo-container img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.header__hamburger {
  display: none;
  height: 3rem;
  width: 3rem;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.header__hamburger--line {
  width: 1.5rem;
  height: 2px;
  background-color: hsl(0deg, 0%, 0%);
  transition: all 0.5s ease-in-out;
}
.header__hamburger--line::after, .header__hamburger--line::before {
  position: absolute;
  content: "";
  height: inherit;
  width: inherit;
  background-color: hsl(0deg, 0%, 0%);
  left: 7px;
  transition: all 0.5s ease-in-out;
}
.header__hamburger--line::before {
  top: 8px;
}
.header__hamburger--line::after {
  bottom: 8px;
}
.header__hamburger.active {
  display: none;
  z-index: 3;
}
.header__hamburger.active .header__hamburger--line {
  background-color: transparent;
}
.header__hamburger.active .header__hamburger--line::before {
  transform: rotate(45deg) translate(4px, 4px);
}
.header__hamburger.active .header__hamburger--line::after {
  transform: rotate(-45deg) translate(4px, -4px);
}
.header__nav {
  flex: 1 0 40rem;
  height: 100%;
  margin: 0 2rem;
  z-index: 3;
  transition: all 0.5s ease-in-out;
}
.header__nav ul {
  height: inherit;
  display: flex;
  justify-content: start;
  align-items: center;
}
.header__nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0 2rem;
  position: relative;
  transition: all 0.5d ease-in-out;
}
.header__nav ul li::before {
  display: block;
  content: "";
  position: absolute;
  background-color: hsl(26deg, 100%, 55%);
  width: 100%;
  height: 3px;
  bottom: -50%;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.header__nav ul li:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}
.header__nav ul li a {
  text-decoration: none;
  color: hsl(219deg, 9%, 45%);
}
.header__nav ul li a:hover {
  color: hsl(220deg, 13%, 13%);
}
.header__overlay {
  display: block;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: hsl(220deg, 13%, 13%);
  filter: opacity(0.4);
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
}
.header__box {
  height: 100%;
  display: flex;
  align-items: center;
  flex: 0 0 10rem;
  gap: 3rem;
}
.header__box--cart {
  position: relative;
}
.header__box--cart > span {
  display: none;
  position: absolute;
  height: 2.3rem;
  width: 2.3rem;
  background-color: hsl(26deg, 100%, 55%);
  top: -1.5rem;
  right: -1.5rem;
  border-radius: 50%;
  color: hsl(0deg, 0%, 100%);
  align-items: center;
  justify-content: center;
  font-size: calc(1.3rem + 0.5vw);
}
.header__box--cart__preview {
  display: none;
  position: absolute;
  bottom: -27rem;
  background-color: hsl(0deg, 0%, 100%);
  min-height: 25rem;
  width: 40rem;
  left: -29rem;
  border: 1px solid gray;
  border-radius: 10px;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 0px 0px 10px 2px rgba(104, 112, 125, 0.75);
  z-index: 2;
}
.header__box--cart__preview--title {
  font-size: calc(1.3rem + 0.75vw);
}
.header__box--cart__preview--description {
  color: hsl(219deg, 9%, 45%);
  flex-basis: 50%;
  flex-grow: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(1.3rem + 0.5vw);
}
.header__box--cart__preview--description__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}
.header__box--cart__preview--description__content--img {
  height: 8rem;
  width: 8rem;
  object-fit: cover;
}
.header__box--cart__preview--description__content--container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header__box--cart__preview--description__content--container__span > strong {
  font-weight: 700;
  color: hsl(0deg, 0%, 0%);
}
.header__box--cart__preview--btn {
  background-color: hsl(26deg, 100%, 55%);
  color: hsl(0deg, 0%, 100%);
  padding: 1.5rem 1rem;
  text-align: center;
  border-radius: 5px;
  font-size: calc(1.3rem + 0.5vw);
}
.header__box--cart__preview.active {
  display: flex;
}
.header__box--profile-img img {
  height: 5rem;
  width: 5rem;
}
.header__box--profile-img img:hover {
  border: 0.2rem solid hsl(26deg, 100%, 55%);
  border-radius: 50%;
}
@media screen and (max-width: 800px) {
  .header__hamburger {
    display: flex;
    z-index: 3;
  }
  .header__hamburger.active {
    display: flex;
  }
  .header__nav {
    position: fixed;
    width: 20rem;
    top: 0;
    left: 0;
    margin: 0;
    background-color: hsl(0deg, 0%, 100%);
    padding: 2rem 0 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    transform: translateX(-100%);
  }
  .header__nav ul {
    height: auto;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
  }
  .header__nav ul li {
    margin: 1rem 0;
  }
  .header__nav ul li::before {
    display: none;
  }
  .header__nav ul li a {
    color: hsl(220deg, 13%, 13%);
  }
}

/* Main */
.main {
  grid-column: 1/-1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;
}
.main__slider-container {
  flex: 1 0 40rem;
  display: flex;
  flex-direction: column;
  gap: 0 2rem;
  height: 50rem;
}
.main__slider-container--img-principal {
  height: 70%;
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
}
.main__slider-container--img-principal > img {
  height: 100%;
  width: 100%;
  object-position: top;
  object-fit: cover;
}
.main__slider-container--img-principal__btn {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: hsl(0deg, 0%, 100%);
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.main__slider-container--img-principal__btn > img {
  height: 15px;
  width: 15px;
  object-fit: contain;
}
.main__slider-container--img-principal .btn-left {
  left: 5px;
}
.main__slider-container--img-principal .btn-left img {
  transform: translateX(-10%);
}
.main__slider-container--img-principal .btn-right {
  right: 5px;
}
.main__slider-container--img-principal .btn-right img {
  transform: translateX(10%);
}
.main__slider-container--imgs-container {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__slider-container--imgs-container__img-container {
  height: 80%;
  border-radius: 20px;
  overflow: hidden;
  width: min(12rem, 20%);
}
.main__slider-container--imgs-container__img-container--img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.main__slider-container--imgs-container__img-container.active {
  border: 2px solid hsl(26deg, 100%, 55%);
}
.main__slider-container--imgs-container__img-container.active img {
  filter: opacity(0.5);
}
.main__content {
  flex: 1 0 40rem;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
  gap: 2rem;
}
.main__content--description__brand {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: hsl(26deg, 100%, 55%);
}
.main__content--description__title {
  margin: 1.5rem 0;
}
.main__content--description__para {
  font-size: calc(1.3rem + 0.5vw);
  font-weight: 300;
  color: hsl(219deg, 9%, 45%);
}
.main__content--price-box {
  width: 15rem;
  position: relative;
}
.main__content--price-box span:nth-of-type(2) {
  position: absolute;
  top: 0;
  right: 0;
  color: hsl(26deg, 100%, 55%);
  font-weight: 900;
  font-size: calc(1.3rem + 0.5vw);
}
.main__content--price-box span:nth-of-type(3) {
  display: block;
  text-decoration: line-through;
  color: hsl(219deg, 9%, 45%);
  font-size: calc(1.3rem + 0.75vw);
}
.main__content--cart-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}
.main__content--cart-box__amount {
  flex-basis: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__content--cart-box__amount span:not(:nth-child(2)):hover {
  opacity: 0.8;
}
.main__content--cart-box__amount span:nth-child(2) {
  font-size: calc(1.3rem + 0.75vw);
}
.main__content--cart-box__btn {
  flex-basis: 20rem;
  background-color: hsl(26deg, 100%, 55%);
  color: hsl(0deg, 0%, 100%);
  padding: 1rem 2rem;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font-size: calc(1.3rem + 0.5vw);
  font-weight: 500;
  opacity: 1;
}
.main__content--cart-box__btn:hover {
  opacity: 0.7;
}
@media screen and (max-width: 1000px) {
  .main__content--cart-box__amount {
    flex-grow: 1;
    flex-basis: 40rem;
  }
  .main__content--cart-box__btn {
    flex-grow: 1;
    flex-basis: 40rem;
  }
}
@media screen and (max-width: 800px) {
  .main {
    padding: 0;
    gap: 5rem;
  }
  .main__slider-container {
    height: 30rem;
  }
  .main__slider-container--img-principal {
    overflow: visible;
    height: 100%;
  }
  .main__slider-container--img-principal__btn {
    display: flex;
  }
  .main__slider-container--imgs-container {
    display: none;
  }
  .main__content {
    height: auto;
    gap: 5rem;
  }
  .main__content--description__para {
    font-size: calc(1.7rem + 1vw);
  }
  .main__content--cart-box {
    gap: 3rem;
  }
  .main__content--cart-box__amount {
    flex-grow: 1;
    flex-basis: 25rem;
  }
  .main__content--cart-box__btn {
    flex-grow: 1;
    flex-basis: 25rem;
  }
}
@media screen and (max-width: 400px) {
  .main__slider-container {
    flex: 1 0 20rem;
  }
  .main__content {
    flex: 1 0 20rem;
  }
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 3;
  inset: 0 0 0 0;
  background-color: rgba(0, 0, 0, 0.75);
  align-items: center;
  justify-content: center;
}
.lightbox__slider-container {
  display: flex;
  flex-direction: column;
  gap: 0 2rem;
  height: 50rem;
  width: 60rem;
  position: relative;
}
.lightbox__slider-container > img {
  position: absolute;
  top: -5%;
  right: 0;
  height: 2rem;
  width: 2rem;
}
.lightbox__slider-container--img-principal {
  height: 70%;
  position: relative;
  width: 100%;
}
.lightbox__slider-container--img-principal > img {
  height: 100%;
  width: 100%;
  object-position: top;
  object-fit: cover;
  border-radius: 20px;
}
.lightbox__slider-container--img-principal__btn {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: hsl(0deg, 0%, 100%);
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.lightbox__slider-container--img-principal__btn > img {
  height: 15px;
  width: 15px;
  object-fit: contain;
}
.lightbox__slider-container--img-principal .btn-left {
  left: -20px;
}
.lightbox__slider-container--img-principal .btn-left img {
  transform: translateX(-10%);
}
.lightbox__slider-container--img-principal .btn-right {
  right: -20px;
}
.lightbox__slider-container--img-principal .btn-right img {
  transform: translateX(10%);
}
.lightbox__slider-container--imgs-container {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lightbox__slider-container--imgs-container__img-container {
  height: 80%;
  border-radius: 20px;
  overflow: hidden;
  width: min(12rem, 20%);
}
.lightbox__slider-container--imgs-container__img-container--img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.lightbox__slider-container--imgs-container__img-container.active {
  border: 2px solid hsl(26deg, 100%, 55%);
}
.lightbox__slider-container--imgs-container__img-container.active img {
  filter: sepia(100%);
}

.lightbox.active {
  display: flex;
}

/*# sourceMappingURL=styles.css.map */
